@media screen and (min-width: 480px) and (max-width: 999px) {
  .col-md-6 {
    width: 50%;
    display: inline; } }

@media screen and (min-device-width: 420px) and (max-device-width: 480px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 401px) {
  .col-sm-12 {
    width: 100%;
    display: inline-block; }
  .img-home-portfolio {
    width: 100%; } }
