.form-group {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .form-control {
    border-radius: 4px;
    padding: 0.5em 0.7em;
    width: 100%;
    border: 1px solid #ccc;
  }
}

.btn {
  border: none;
  padding: 0.7em 1em;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
}