@import "normalize";
@import "modern-business";

* {
  box-sizing: border-box;
}

@import "navbar";

body {
  padding: 0 0 0 0;
  h1 {
    color: white;
  }
}

.random-row {
  color: white;
}

.section {
  .lead {
    padding: 0;
  }
}
.container {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.row {
  clear: both;
  padding-left: 30px;
  padding-right: 30px;
}

.mango {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  width: 33%;
  float: left;
  background-color: white;
}
// .col-md-4 .mango{
//   padding: 0 10px 0 10px;
//   width: 33%;
//   display: inline-block;
// }

.h2 {
  background-color: white;
}

.business-features-div-1 {
  padding-top: 20px;
  height: 454px;
  border-color: red;
}

.business-features-div-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.col-lg-4 {
  width: 33%;
  display: inline-block;
  padding: 0 1em 1em 0em;
}
.col-lg-6 {
  border-color: red;
  width: 50%;
  float: left;
  display: inline-block;
  height: 450px;
  padding-left: 60px;
  text-align: left;
}

.col-sm-8 {
  float: left;
  width: 66%;
}
.col-lg-12 img{
  width: 100%;
}

.page-header{
  padding-top: 40px;
  color: black;
}

.label {
  display:block;
}

.textarea {
  display:block;
}

  ul#breadcrumb {
    background-color: #CCCCCC;
    padding: 10px;
  }

  .tooltip-social {
    list-style-type: none;
    display: inline;
  }
ul#breadcrumb li  {
  list-style-type: none;
  display: inline;
}
